body {
    background-color: #7bc6b3;
 
}
img {
    filter: brightness(88%);
}

.is-flex-direction-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.is-flex-direction-column {}

.title {
    color: #0D795F;
    font-size: 64px;
    margin: auto auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 55px;
}

.label {
    color: #0D795F;
    font-size: 32px;
}

.is-primary {
    background-color: #A6C6BE;
    font-size: 1.8em;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    width: 364px;
    height: 83px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    box-shadow: inset 1px 20px 20px rgba(0, 0, 0, 0.20);
}

.senha {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.is-primary:hover {}

.bulma {
    font-size: 128px;
    color: #0D795F;
    margin: 0;
}

.subtitle {
    width: 500px;
    margin: 0;
    font-size: 30px;
    padding: 20px;
}

.text {
    width: 600px;
}

.input {
    width: 396px;
    border-radius: 20px;
    height: 39px;
    font-size: 20px;
}

span {
    color: #0D795F;
    font-family: 'Montserrat', sans-serif;
}

.subititle span {
    color: #0D795F;
}

.field {
    padding: 30px;
}

.principal {
    gap: 150px;
}
@media screen and (max-width: 1200px) {
.text {
background-color:blue;
width:500px;
font-size:25px;
}

.bulma {
font-size:90px;
}
.subtitle{
background-color:blue;
width:350px;
font-size:23px;
line-height: 30px;
}

}

@media screen and (max-width: 1400px) {
.principal {
    gap: 50px;
background-color:red;
}
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
}

.divbutton {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
.principal{
background-color:red;
width:450px;
}
body{
display:flex;
text-align:center;
justify-content:center;
}
.subtitle1 {
width:400px;
}
}

@media screen and (max-width: 400px) {
.principal{
background-color:blue;
width:350px;
}
.subtitle1 {
width:300px;
background-color:red;
}
.is-primary {
width:300px;
}
.input {
width:300px;
}
}