button {
    background-color: #2DF0C1;
    font-size: 0.9em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}